.body-wrapper {
    .add-task-form {
        display    : flex;
        align-items: center;
        flex-flow  : column;
        margin-top : 10vh;
        width      : 80%;
        margin-left: 10%;

        label {
            width        : 100%;
            color        : gray;
            margin-bottom: 1em;
            text-align   : left;
        }

        textarea {
            @include btn;
            resize   : none;
            width    : 100%;
            font-size: 1.5rem;
            caret-color: $main;
        }

        .inputs-wrapper {
            margin-top: 2rem;
            width     : 100%;

            .inline-input {
                display        : flex;
                flex-flow      : row nowrap;
                justify-content: left;
                margin-top     : 1em;
                margin-bottom  : 2em;

                svg {
                    color       : $main;
                    margin-right: 1em;
                }

                input {
                    @include btn;
                }
            }
        }

        .submit-btn {
            width: 100vw;
            height: 10vh;
            position: absolute;
            bottom: 0;
            button {
                width: 100%;
                height: 100%;
                font-size: 1.5em;
                color: white;
                background: $main;
                border: none;
            }
        }
    }
}