.categories-wrapper {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-around;
    padding        : 0 !important;
    background     : rgb(244, 245, 245);
    margin         : 0 !important;

    .category {
        list-style: none;

    }
}