$main: rgb(65, 180, 170);
$components: rgb(197, 197, 197);

body {
    margin: 0;
}

.page-wrapper {
    background-color: white;
    font-family     : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin btn {
    border       : none;
    border-bottom: 1px solid $components;
    &:focus {
        outline: none;
    }
}